*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background: blanchedalmond;
}
.con{
    width: 70%;
    margin: auto;
    
    background: whitesmoke;
    margin-top: 100px;
    padding: 20px;
}
#heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
    
}
#heading>button{
    background: rgb(118, 118, 226);
    outline: none;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    color: white;
    
}
#heading>button:hover{
    opacity: 0.8;
}
.todo{
    width: 100%;
    height: 30px;
    background: black;
    color: aliceblue;
    padding: 5px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top:10px ;
    position: relative;
    display: flex;
    justify-content: space-between;
}
#add{
    
 
}
#add>input{
    margin-top: 15px;
     width: 90%;
    height: 30px;
    margin: 15px 15px;
    
    outline: none;
    padding: 5px;
    border-radius: 10px;
    border: none;
}
.Cut{
    position: absolute;
    top: 1px;
    right: 1px;
    background: rgb(244, 244, 245);
    padding: 2px;
    border-radius: 15px;
    color: rgb(32, 30, 30);
    font-weight: bolder;
    font-size: 14px;
}
.done{
    text-decoration: line-through;
   color: red;
    user-select: none;
}
.todoinputs:checked
